<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Photo App</title>

        <!-- icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <!-- font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Serif&display=swap" rel="stylesheet">
       <!-- Link to Stylesheet -->
       <link rel="stylesheet" href="/static/styles.css" /> 
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

<body>
       <!-- Navigation -->
       {% include 'includes/navbar.html' %}
       <main>
              <section class="left-panel">
                     <!-- Stories Panel -->
                     {% include 'includes/stories.html' %}
                     <!-- Posts -->
                     {% include 'includes/cards.html' %}
              </section>


              <!-- Recommendations Panel -->
              {% include "includes/suggestions.html" %}
       </main>
</body>
</html>

<!-- How to add alt-text: I would need to create a textarea box for people to input the alt-text for images before they post them -->
